@media screen and (max-width: 375px) {
    .Seleccionar_pago-sfp {
        position: absolute;
        width: 186px;
        height: 64px;
        left: 95px;
        top: 133px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #007DA4;
    }

    .Seleccionar_pago-container {
        position: absolute;
        width: 300px;
        height: 377px;
        left: 39px;
        top: 233px;
        background: rgba(196, 196, 196, 0.4);
        mix-blend-mode: normal;
        border-radius: 20px;
    }

    .Seleccionar_pago-rb1 {
        position: absolute;
        width: 12px;
        height: 13px;
        left: 30px;
        top: 30px;
    }

    .Seleccionar_pago-imgtdc {
        position: absolute;
        width: 39.63px;
        height: 31.58px;
        left: 50px;
        top: 30px;
    }

    .Seleccionar_pago-tdc {
        position: absolute;
        width: 107px;
        height: 39px;
        left: 100px;
        top: 40px;
    }

    .Seleccionar_pago-rb2 {
        position: absolute;
        width: 12px;
        height: 13px;
        left: 30px;
        top: 80px;
    }

    .Seleccionar_pago-imge {
        position: absolute;
        width: 39.63px;
        height: 31.58px;
        left: 50px;
        top: 80px;
    }

    .Seleccionar_pago-e {
        position: absolute;
        width: 142px;
        height: 19px;
        left: 100px;
        top: 90px;
    }

    .Seleccionar_pago-rb3 {
        position: absolute;
        width: 12px;
        height: 13px;
        left: 30px;
        top: 130px;
    }

    .Seleccionar_pago-imgn {
        position: absolute;
        width: 39.63px;
        height: 31.58px;
        left: 50px;
        top: 130px;
    }

    .Seleccionar_pago-n {
        position: absolute;
        width: 147px;
        height: 15px;
        left: 100px;
        top: 135px;      
    }

    .Seleccionar_pago-boton {
        position: absolute;
        width: 375px;
        height: 38px;
        left: 0px;
        top: 702px;
        background: #007DA4;
        mix-blend-mode: normal;
        color: white;
        text-align: center;
        justify-content: center;
    }
}